<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="fr-view">
        <%= @correct.symptoms.html_safe %>
      </div>
    </div>
    <div class="col-md-2">
      <h2>Score: <%= session[:score] %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
     <div class="card-group">
        <% counter = 1 %>
        <% @illnesses.each do |illness| %>
        <div class="card">
          <div class="card-header">Svar <%= counter %></div>
          <div class="card-block">
            <%= illness.name.html_safe unless illness.try(:name).nil? %>
          </div>
          <div class="card-footer text-center">
          <%= link_to(action: 'check_answer', answer: illness) do %>
            <button type="button" class="btn btn-success btn btn3d"><span class="fa fa-check"></span></button>
          <% end %>
          </div>
        </div>
        <% counter += 1 %>
        <% end %>
     </div>
    </div>
  </div>
</div>
<br>