<script>
    $('#answer').click(function(e){
        e.preventDefault();
    });
</script>

<!-- Disables Turbolinks for the quiz -->
<%= content_for(:body_attributes, "data-turbolink=false") %>
<div class="container-fluid quiz containerz">
  <br>
<div class="row">
<!-- LEFT SIDE CONTAINER -->
<div class="col-md-2 p-0">
    <div class="banner2 two" style="left: 28px;">
      <div class="main2">
        <div class="text-center text-white">
          <span class="fa fa-question fa-2x" style="margin-top: 3px;"></span><br>
            Dit sidste spørgsmål var
        </div>
      </div>
      <div class="skew r" style="z-index:8; background-color: #6c3625; right: 16px; top: 5px;"></div>
    </div>
    <% if session[:was_answer_correct].nil? %>
        <div class="" style="margin-left: 50px;">
          <i class="fa fa-play fa-3x light-blue"></i>
          <h2 class="count-title">Sæt i gang!</h2>
          <br>
          <h2 class="count-text"><i>Her kommer dit seneste svar til at stå</i></h2>
        </div>
    <% elsif session[:was_answer_correct] == true %>
        <div class="" style="margin-left: 50px;">
          <i class="fa fa-thumbs-up fa-3x green"></i>
          <h2 class="count-title">Rigtigt! :D</h2>
          <br>
          <h2 class="count-text"><b><%= @last_correct.name.html_safe unless @last_correct.try(:name).nil? %></b> var korrekt.</h2>
        </div>
    <% else %>
        <div class="" style="margin-left: 50px;">
          <i class="fa fa-thumbs-down fa-3x red"></i>
          <h2 class="count-title">Forkert! :(</h2>
          <br>
          <h2 class="count-text">Den rigtige diagnose var <b><%= @last_correct.name.html_safe unless @last_correct.try(:name).nil? %></b></h2>
        </div>
    <% end %>

  <%= link_to 'reset_game' do %>
    <div class="banner2 two" style="left: 28px;">
      <div class="main2" style="background: #ee7c1b;">
        <div class="text-center text-white">
          <span class="fa fa-refresh fa-2x" style="margin-top: 3px;"></span><br>Restart quiz</div>
      </div>
      <div class="skew r" style="z-index:8; background-color: #914d0f; right: 16px; top: 5px;"></div>
    </div>
  <% end %>
</div>
<!-- END OF LEFT SIDE CONTAINER -->

<!-- CENTER CONTAINER -->
<div class="col-md-8 quiz center-container">
      <div class="banner one" style="padding-bottom: 10px;">
        <div class="bk l">
          <div class="arrow top"></div>
          <div class="arrow bottom"></div>
        </div>
        <div class="skew l"></div>
        <div class="main">
            <div class="fr-view text-center display-4 text-white">
              Case #<%= session[:score] + session[:wrong_answers] + 1 %>
            </div>
        </div>
        <div class="skew r"></div>
              <div class="bk r">
          <div class="arrow top"></div>
          <div class="arrow bottom"></div>
        </div>
        <div class="paper">
          <p><%= @case.content.html_safe unless @case.content.nil? %></p>
        </div>
      </div>
      <h1 class="display-4 text-center text-white" style="font-size: 200%;">Vælg dit svar</h1>
  <br>
      <div class="card-deck" style="padding-left:30px; padding-right:30px;">
        <% counter = 1 %>
        <% @illnesses.each do |illness| %>
            <div class="card quiz box rounded text-center">
              <div class="ribbon"><span>Svar #<%= counter %></span></div>
              <div class="p-2 text-white">
                <h5 class="lead"><br><%= illness.name.html_safe unless illness.try(:name).nil? %></h5>
              </div>
              <div class="">
                <%= link_to action: 'check_answer', answer: illness do %>
                    <div type="button" class="btn btn-success btn btn3d pull-left"><span class="fa fa-check"></span>
                    </div>
                <% end %>
                <%#= button_to('Alright', controller: 'quizzes', action: 'check_answer', data: { confirm: 'Are you sure?', disable_with: 'loading...' }, answer: illness) %>
              </div>
            </div>
            <% counter += 1 %>
        <% end %>
      </div>
</div>
<!-- END OF CENTER CONTAINER -->

<!-- SIDE CONTAINER-->
    <div class="col-md-2 quiz side-container text-center text-white">
      <div class="banner2 two" style="right: 37px;">
        <div class="main2" style="background: #4c9a7f;">
          <div class="text-center text-white">
            <span class="fa fa-area-chart fa-2x" style="margin-top: 3px;"></span><br>
            Statistik
          </div>
        </div>
        <div class="skew l" style="z-index:8; background-color: #33684f; right: 15px; top: 5px;"></div>
      </div>
      <div class="card quiz box rounded text-center">
        <div class="p-2 text-white">
          <i class="fa fa-star fa-3x green"></i>
          <h2 class="timer count-title count-number" data-to="<%= session[:score] %>"></h2>
          <p class="count-text">Korrekte svar</p>
        </div>
      </div>
        <br>
      <div class="card quiz box rounded text-center">
        <div class="p-2 text-white">
          <i class="fa fa-times fa-3x red"></i>
          <h2 class="timer count-title count-number" data-to="<%= session[:wrong_answers] %>"></h2>
          <p class="count-text">Forkerte svar</p>
        </div>
      </div>
    </div>
<!-- END OF RIGHT SIDE CONTAINER -->
  </div>


  <% if user_signed_in? %>
  <div class="row">
    <div class="offset-md-2 col-md-8">
    <div class="quiz debug text-white">
    <h5>Debug:</h5>
    <% session.each do |key, value| %>
    <br><%= key.to_s %> =>
        <%= value.to_s %>
    <% end %>
      </div>
  </div>
  </div>
  <% end %>
</div>