<script>
    $(document)
        .on('turbolinks:click', function() {
            NProgress.start();
        })
        .on('turbolinks:render', function() {
            NProgress.done(); // to work with the above method on first visit
            NProgress.remove(); // to work on back btn click, restore event
        });
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center">
      <div class="btn3d btn btn-info btn-lg">
       <span class="fa fa-hashtag fa-2x"></span><br>
        Spørgsmål #<%= session[:score] + session[:wrong_answers] %>
      </div>
    </div>
      <div class="col-md-8 img-thumbnail bg-faded p-3" style="box-shadow: 0 0 3px #dedede;">
      <h1 class="lead text-center">Hvad er den mest sandsynlige diagnose i denne case?</h1>
      <div class="fr-view text-center">
        <%= @correct.symptoms.html_safe unless @correct.symptoms.nil? %>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <%= link_to 'reset_game' do %>
          <div class="btn3d btn btn-warning btn-lg">
            <span class="fa fa-refresh fa-2x"></span>
            <br>
            Reset quiz
          </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 rounded-bottom">
      <h1 class="lead text-center">Dit sidste svar</h1>
      <% if session[:was_answer_correct].nil? %>
          <div class="counter" style="box-shadow: 0 0 4px #161616;">
            <i class="fa fa-play fa-3x"></i>
            <h2 class="count-title">Sæt i gang!</h2>
            <br>
            <h2 class="count-text"><i>Her kommer dit seneste svar til at stå</i></h2>
          </div>
      <% elsif session[:was_answer_correct] == true %>
          <div class="counter" style="box-shadow: 0 0 4px #161616;">
            <i class="fa fa-thumbs-up fa-3x green-inverse"></i>
            <h2 class="count-title">Rigtigt! :D</h2>
            <br>
            <h2 class="count-text"><b><%= @last_correct.name.html_safe unless @last_correct.try(:name).nil? %></b> var korrekt.</h2>
          </div>
      <% else %>
          <div class="counter" style="box-shadow: 0 0 4px #161616;">
            <i class="fa fa-thumbs-down fa-3x red"></i>
            <h2 class="count-title">Forkert! :(</h2>
            <br>
            <h2 class="count-text">Den rigtige diagnose var <b><%= @last_correct.name.html_safe unless @last_correct.try(:name).nil? %></b></h2>
          </div>
      <% end %>
    </div>
  <div class="col-md-8">
    <h1 class="lead text-center">Vælg dit svar</h1>
    <div class="card-group text-center">
        <% counter = 1 %>
        <% @illnesses.each do |illness| %>
        <div class="card" style="box-shadow: 0 0 3px #dedede;">
          <h4 class="lead">Svar #<%= counter %></h4>
          <div class="card-block p-2">
            <h5 class=""><%= illness.name.html_safe unless illness.try(:name).nil? %></h5>
          </div>
          <div class="card-footer">
          <%= link_to(action: 'check_answer', answer: illness) do %>
            <div type="button" class="btn btn-success btn btn3d"><span class="fa fa-check"></span>
            </div>
          <% end %>
          </div>
        </div>
        <% counter += 1 %>
        <% end %>
     </div>
    </div>

    <div class="col-md-2 rounded-bottom">
      <h1 class="lead text-center">Statistik</h1>
      <div class="counter" style="box-shadow: 0 0 4px #161616;">
        <i class="fa fa-star fa-3x"></i>
        <h2 class="timer count-title count-number" data-to="<%= session[:score] %>" data-speed="500"></h2>
        <p class="count-text  ">Korrekte svar</p>
      </div>
      <br>
      <div class="counter" style="box-shadow: 0 0 4px #161616;">
        <i class="fa fa-times fa-3x red"></i>
        <h2 class="timer count-title count-number" data-to="<%= session[:wrong_answers] %>" data-speed="500"></h2>
        <p class="count-text">Forkerte svar</p>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <%= session[:start_time] %>

  <% session.each do |key, value| %>
    <br><%= key.to_s %> =>
    <%= value.to_s %>
  <% end %>
<% end %>