<script> $(function() { $('#description, #etio_and_pato, #paraclinical, #symptoms').froalaEditor( {
    toolbarButtons: ['undo', 'redo', '|' , 'bold', 'italic', 'underline', 'subscript', 'superscript', 'align', '|', 'insertImage', 'insertTable', 'insertLink'],
    placeholderText: 'Skriv her'
    }) });
</script>

<%= simple_form_for illness do |f| %>
  <% if illness.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= illness.errors.count %> fejl forhindrede sygdommen i at blive gemt:</h2>

      <ul>
      <% illness.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="card">
<div id="accordion" role="tablist" aria-multiselectable="true">
<!-- General -->
<div class="card-header" role="tab" id="headingGeneral">
  <h5 class="mb-0">
    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseGeneral" aria-expanded="false" aria-controls="collapseGeneral">
      <span class="form-control-feedback fa fa-info-circle"> </span> Generelt
    </a>
  </h5>
</div>
<div id="collapseGeneral" class="collapse show" role="tabpanel" aria-labelledby="headingGeneral">
  <div class="row">
    <div class="col-md-6">
      <div class="card-block">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <h1 class="lead"><span class="form-control-feedback fa fa-id-card"></span> Sygdommens navn</h1>
              <p><%= f.input_field :name, placeholder: 'fx: aorta stenose', class: 'form-control' %></p>
            </div>
            <div class="col-md-6">
              <h1 class="lead"><span class="form-control-feedback fa fa-sitemap"></span> Kategori</h1>
              <p><%= f.input_field :category, collection: @category_array, class: 'form-control' %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h1 class="lead"><span class="form-control-feedback fa fa-pie-chart"></span> Incidens</h1>
              <p><%= f.input_field :incidence, hint: 'Antallet af nye tilfælde pr. tidsperiode', class: 'form-control' %></p>
            </div>
            <div class="col-md-6">
              <% unless @differential_diagnoses.nil? %>
                  <h1 class="lead"><span class="form-control-feedback fa fa-exchange"></span> Differentialdiagnoser</h1>
                  <%= select_tag 'differential_id', options_from_collection_for_select(@differential_diagnoses, 'id', 'name'), prompt: "Vælg differential diagnoser", class: 'form-control', multiple: true %>
                  <i> Vælg flere ved at holde CTRL i bund</i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-block">
        <h1 class="lead"><span class="form-control-feedback fa fa-comments-o"></span> Symptomer og fund</h1>
        <%= f.input_field :symptoms, hint: 'Symptomer', class: 'form-control', id: 'symptoms', as: :text %>
      </div>
    </div>
  </div>

</div>
<!-- Description -->
  <div class="card-header" role="tab" id="headingDescription">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
        <span class="form-control-feedback fa fa-file-text-o"> </span> Beskrivelse
      </a>
    </h5>
  </div>
  <div id="collapseDescription" class="collapse" role="tabpanel" aria-labelledby="headingDescription">
    <%= f.input_field :description, hint: 'Sygdommens årsag', class: 'form-control', id: 'description', as: :text %>
  </div>
<!-- Etiology and patogenesis -->
  <div class="card-header" role="tab" id="headingPato">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePato" aria-expanded="false" aria-controls="collapsePato">
        <span class="form-control-feedback fa fa-thermometer-1"> </span> Ætiologi og patogenese
      </a>
    </h5>
  </div>
  <div id="collapsePato" class="collapse" role="tabpanel" aria-labelledby="headingPato">
  <%= f.input_field :etio_and_pato, hint: 'Sygdommens årsag', class: 'form-control', id: 'etio_and_pato', as: :text %>
  </div>
<!-- Paraclinical -->
  <div class="card-header" role="tab" id="headingClinic">
    <h5 class="mb-0">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseClinic" aria-expanded="false" aria-controls="collapseClinic">
        <span class="form-control-feedback fa fa-search"> </span> Parakliniske undersøgelser
      </a>
    </h5>
  </div>
  <div id="collapseClinic" class="collapse" role="tabpanel" aria-labelledby="headingClinic">
    <%= f.input_field :paraclinical, placeholder: 'Hvilke parakliniske undersøgelser er indikerede? Hvad viser de?', class: 'form-control', id: 'paraclinical', as: :text %>
  </div>
  <!-- Treatment and prognosis -->
    <div class="card-header" role="tab" id="headingTreatment">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTreatment" aria-expanded="false" aria-controls="collapseTreatment">
          <span class="form-control-feedback fa fa-medkit"> </span> Behandling
        </a>
      </h5>
    </div>
    <div id="collapseTreatment" class="collapse" role="tabpanel" aria-labelledby="headingTreatment">
      <%= f.input_field :treatment, placeholder: 'Hvilke parakliniske undersøgelser er indikerede? Hvad viser de?', class: 'form-control', id: 'paraclinical', as: :text %>    </div>
    </div>

 <!-- End of Accordion -->
</div>
<br>
<%= f.button :submit, 'Gem', class: 'btn btn-lg btn-success' %>
<% end %>
