<% if !test[type].empty? %>
  <center>
    <a data-toggle="collapse" href="#collapse<%= type.upcase %>" aria-expanded="true" aria-controls="collapse<%= type.upcase %>">
    <span class="btn <%= imaging_badge(test.try(type)) %> btn-block"><%= type.to_s.humanize.upcase %></span>
    </a>
  </center>
  <div id="collapse<%= type.upcase %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= type.upcase %>">
    <%= test.try(type) %>
  </div>
  <hr>
<% end %>