<ul class="nav bg-inverse p-2">
  <button class="navbar-toggler btn-primary btn-lg btn3d" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-i-mental-health d-inline-block align-top" style="font-size: 4em;"></span>
  </button>
  <nav class="navbar navbar-inverse bg-inverse justify-content-center">
    <div class="collapse " id="navbarToggleExternalContent">
      <%= link_to root_path do %>
        <h4 class="text-white pull-left">Sygdomme er nederen.</h4>
      <% end %>
      <br>
      <span class="text-muted pull-left">Sådan, <i>rimelig</i> nederen.</span>
      <ul class="navbar-nav">
        <% @category_names.each_key do |key| %>
            <li class="">
              <%= link_to controller: illnesses_path, action: :category, category: key do %>
                  <div class="snip1303">
                    <%= category_image(key, 'center-block', 'width: 50px;display: block; margin-left: 10px; margin-right: 10px; margin-top: 8px; margin-bottom: 8px;') %>
                  </div>
              <% end %>
            </li>
        <% end %>
      </ul>
      </div>
      <ul class="navbar-nav pull-right">
        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Ny sygdom', new_illness_path, class: 'btn btn-info btn-lg btn3d' %>
            </li>
             
            <li class="nav-item">
              <%= link_to 'Log ud', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-lg btn3d' %>
            </li>
        <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                  <div class="snip1303 ion-android-unlock">
                  </div>
              <% end %>
            </li>
        <% end %>
      </ul>
  </nav>
</ul>

<ol class="breadcrumb" style="box-shadow: 0px 0px 5px #b4b4b4">
  <%= render_breadcrumbs :separator => "<span class='lead'> » </span>".html_safe %>
</ol>